<h1>Task</h1>

<%= link_to "Edit this task", edit_task_path, {:class=>"edit_btn"} %>

<p id="task_details"><%= @task.details %></p>

<% if @task.completed == false %>
  <p style="border-bottom: 1px solid; lightgrey;"><%= "This task is not completed yet" %></p>
  <% else %>
  <p style="border-bottom: 1px solid lightgrey;"><%= "This task is completed" %></p>
<% end %>

<%= link_to "Back to tasks", tasks_path %>
